<h1>{{title}}</h1>
{{>avatar}}
{{#if success}}
<div class="container">
    <h4>Üzeneted sikeresen elküldve!</h4>
    <p><b>Tárgy:</b> {{subject}}<br /><b>Üzenet:</b> {{message}}</p>
    <button onclick="window.location.href='/messages';">Üzenetek</button>
</div>
{{else}}
<form action="/send" method="post" id="sendForm">
    <div class="container">
        <input type="hidden" id="senderId" name="senderId" value="{{senderId}}" />
        <input type="text" id="subject" name="subject" placeholder="Az üzenet tárgya..." maxlength="150" minlength="3" required />
        <textarea rows="4" cols="50" id="message" name="message" form="sendForm" placeholder="Írd be az üzenetet..." maxlength="500" minlength="3" required ></textarea>
        <input type="submit" value="Küldés" />
    </div>
</form>
{{/if}}
